<!DOCTYPE html>
<html>
<head>
    <script type="application/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <title>SocketIO + Canvas</title>
</head>
<body>
<canvas id="game" width="400" height="300"></canvas>
<script id="script-data" type="application/javascript" data-ID="<%= userID%>" src="/js/game.js"></script>
</body>
</html>
