<!DOCTYPE html>
<html>
<head>
    <script type="application/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <title>SocketIO + Canvas</title>
</head>
<body>
<canvas id="game"></canvas>
</br>
<label>Username</label>
<input type="text" id="textName"/><input id="btnName" value="submit" type="button"/>
<script id="script-data" type="application/javascript" data-ID="<%= userID%>" src="/js/game.js"></script>
</body>
</html>